<div class="form-div">
  <h1>Dictionary</h1>
  <h3>Enter a Word</h3>
  <input type="text" [(ngModel)]="word">
  <button type="submit" (click)="searchMeaning()">Submit</button>
</div>

<div *ngIf = "this.submitCliked">

  <div *ngFor="let element of this.meaningBody[0].meanings">
    <h3> Type Of Speech : {{element.partOfSpeech}}</h3>
    <p>Meaning :  {{element.definitions[0].definition}}</p>
    <p *ngIf = "exaplePresent(element.definitions[0].example)">Example : {{element.definitions[0].example}}</p>
  </div>
</div>
<div *ngIf = "hasError">
  <p>Invalid word or failed to connect to server</p>
</div>
